// this vars to override bootstrap only
$primary: #009E60;
$secondary: #111827;
$danger: #EB1F2D;
$warning: #F1C735;
$success: #50C879;
$info: #1849A9;
$gray1 : #dedede;

// this shared vars we will use this 
:root {
    --primary: #009E60;
    --secondary: #111827;
    --danger: #EB1F2D;
    --warning: #F1C735;
    --success: #50C879;
    --info: #1849A9;
    --gray1: #dedede;
}