@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?13xtue');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?13xtue#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?13xtue') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?13xtue') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?13xtue##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-chevron-arrow-left {
  &:before {
    content: $icon-chevron-arrow-left; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-chevron-arrow-right {
  &:before {
    content: $icon-chevron-arrow-right; 
  }
}
.icon-chevron-arrow-up {
  &:before {
    content: $icon-chevron-arrow-up; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-sun {
  &:before {
    content: $icon-sun; 
  }
}
.icon-moon {
  &:before {
    content: $icon-moon; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-location-2 {
  &:before {
    content: $icon-location-2; 
  }
}
.icon-chevron-arrow-down {
  &:before {
    content: $icon-chevron-arrow-down; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-language {
  &:before {
    content: $icon-language; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-tiktok {
  &:before {
    content: $icon-tiktok; 
  }
}
.icon-twitter-x {
  &:before {
    content: $icon-twitter-x; 
  }
}
.icon-website {
  &:before {
    content: $icon-website; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}

