@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ukl0jx');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ukl0jx#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ukl0jx') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ukl0jx') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ukl0jx##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-top {
  &:before {
    content: $icon-chevron-top; 
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard; 
  }
}
.icon-files-1 {
  &:before {
    content: $icon-files-1; 
  }
}
.icon-images {
  &:before {
    content: $icon-images; 
  }
}
.icon-monitor-1 {
  &:before {
    content: $icon-monitor-1; 
  }
}
.icon-globe {
  &:before {
    content: $icon-globe; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-reset-font-size-2 {
  &:before {
    content: $icon-reset-font-size-2; 
  }
}
.icon-time-3 {
  &:before {
    content: $icon-time-3; 
  }
}
.icon-channels {
  &:before {
    content: $icon-channels; 
  }
}
.icon-price {
  &:before {
    content: $icon-price; 
  }
}
.icon-time-2 {
  &:before {
    content: $icon-time-2; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-heart-plus {
  &:before {
    content: $icon-heart-plus; 
  }
}
.icon-heart-minus {
  &:before {
    content: $icon-heart-minus; 
  }
}
.icon-sound-bordered-1 {
  &:before {
    content: $icon-sound-bordered-1; 
  }
}
.icon-sound-bordered-2 {
  &:before {
    content: $icon-sound-bordered-2; 
  }
}
.icon-sound-bordered-3 {
  &:before {
    content: $icon-sound-bordered-3; 
  }
}
.icon-sound-muted-bordered {
  &:before {
    content: $icon-sound-muted-bordered; 
  }
}
.icon-sound-muted-solid {
  &:before {
    content: $icon-sound-muted-solid; 
  }
}
.icon-sound-solid-1 {
  &:before {
    content: $icon-sound-solid-1; 
  }
}
.icon-sound-solid-2 {
  &:before {
    content: $icon-sound-solid-2; 
  }
}
.icon-sound-solid-3 {
  &:before {
    content: $icon-sound-solid-3; 
  }
}
.icon-reset-font-size {
  &:before {
    content: $icon-reset-font-size; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-snapchat {
  &:before {
    content: $icon-snapchat; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-logout-2 {
  &:before {
    content: $icon-logout-2; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-copy-2 {
  &:before {
    content: $icon-copy-2; 
  }
}
.icon-eye-closed {
  &:before {
    content: $icon-eye-closed; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-question-circle {
  &:before {
    content: $icon-question-circle; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.icon-arrow-circle-bottom {
  &:before {
    content: $icon-arrow-circle-bottom; 
  }
}
.icon-arrow-circle-left {
  &:before {
    content: $icon-arrow-circle-left; 
  }
}
.icon-arrow-circle-right {
  &:before {
    content: $icon-arrow-circle-right; 
  }
}
.icon-arrow-circle-top {
  &:before {
    content: $icon-arrow-circle-top; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-hand {
  &:before {
    content: $icon-hand; 
  }
}
.icon-idea {
  &:before {
    content: $icon-idea; 
  }
}
.icon-initiatives {
  &:before {
    content: $icon-initiatives; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-list-checked {
  &:before {
    content: $icon-list-checked; 
  }
}
.icon-lock {
  &:before {
    content: $icon-lock; 
  }
}
.icon-lock-circle {
  &:before {
    content: $icon-lock-circle; 
  }
}
.icon-login {
  &:before {
    content: $icon-login; 
  }
}
.icon-microphone {
  &:before {
    content: $icon-microphone; 
  }
}
.icon-network {
  &:before {
    content: $icon-network; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-productivity {
  &:before {
    content: $icon-productivity; 
  }
}
.icon-quote-bottom {
  &:before {
    content: $icon-quote-bottom; 
  }
}
.icon-quote-top {
  &:before {
    content: $icon-quote-top; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-settings {
  &:before {
    content: $icon-settings; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-track {
  &:before {
    content: $icon-track; 
  }
}
.icon-translate {
  &:before {
    content: $icon-translate; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-wrench {
  &:before {
    content: $icon-wrench; 
  }
}
.icon-x-twitter {
  &:before {
    content: $icon-x-twitter; 
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in; 
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-chevron-arrow-left {
  &:before {
    content: $icon-chevron-arrow-left; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-chevron-arrow-right {
  &:before {
    content: $icon-chevron-arrow-right; 
  }
}
.icon-chevron-arrow-up {
  &:before {
    content: $icon-chevron-arrow-up; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-sun {
  &:before {
    content: $icon-sun; 
  }
}
.icon-moon {
  &:before {
    content: $icon-moon; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-location-1 {
  &:before {
    content: $icon-location-1; 
  }
}
.icon-chevron-arrow-down {
  &:before {
    content: $icon-chevron-arrow-down; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-link1 {
  &:before {
    content: $icon-link1; 
  }
}
.icon-facebook1 {
  &:before {
    content: $icon-facebook1; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-instagram1 {
  &:before {
    content: $icon-instagram1; 
  }
}
.icon-language {
  &:before {
    content: $icon-language; 
  }
}
.icon-phone-2 {
  &:before {
    content: $icon-phone-2; 
  }
}
.icon-tiktok {
  &:before {
    content: $icon-tiktok; 
  }
}
.icon-twitter-x {
  &:before {
    content: $icon-twitter-x; 
  }
}
.icon-website {
  &:before {
    content: $icon-website; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}

