$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-minus: unquote('"\\e903"');
$icon-calendar: unquote('"\\e904"');
$icon-arrow-down: unquote('"\\e906"');
$icon-chevron-arrow-left: unquote('"\\e90d"');
$icon-location: unquote('"\\e90e"');
$icon-chevron-arrow-right: unquote('"\\e90f"');
$icon-chevron-arrow-up: unquote('"\\e910"');
$icon-arrow-up: unquote('"\\e911"');
$icon-arrow-left: unquote('"\\e912"');
$icon-sun: unquote('"\\e913"');
$icon-moon: unquote('"\\e914"');
$icon-user: unquote('"\\e915"');
$icon-location-2: unquote('"\\e916"');
$icon-chevron-arrow-down: unquote('"\\e917"');
$icon-arrow-right: unquote('"\\e918"');
$icon-link: unquote('"\\e90c"');
$icon-facebook: unquote('"\\e90b"');
$icon-email: unquote('"\\e900"');
$icon-instagram: unquote('"\\e901"');
$icon-language: unquote('"\\e902"');
$icon-phone: unquote('"\\e905"');
$icon-tiktok: unquote('"\\e907"');
$icon-twitter-x: unquote('"\\e908"');
$icon-website: unquote('"\\e909"');
$icon-whatsapp: unquote('"\\e90a"');

