$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-dashboard: unquote('"\\e956"');
$icon-files-1: unquote('"\\e957"');
$icon-images: unquote('"\\e958"');
$icon-monitor-1: unquote('"\\e959"');
$icon-globe: unquote('"\\e952"');
$icon-question: unquote('"\\e953"');
$icon-reset-font-size-2: unquote('"\\e954"');
$icon-time-3: unquote('"\\e955"');
$icon-channels: unquote('"\\e94e"');
$icon-price: unquote('"\\e94f"');
$icon-time-2: unquote('"\\e950"');
$icon-star: unquote('"\\e94d"');
$icon-heart-plus: unquote('"\\e94b"');
$icon-heart-minus: unquote('"\\e94c"');
$icon-sound-bordered-1: unquote('"\\e943"');
$icon-sound-bordered-2: unquote('"\\e944"');
$icon-sound-bordered-3: unquote('"\\e945"');
$icon-sound-muted-bordered: unquote('"\\e946"');
$icon-sound-muted-solid: unquote('"\\e947"');
$icon-sound-solid-1: unquote('"\\e948"');
$icon-sound-solid-2: unquote('"\\e949"');
$icon-sound-solid-3: unquote('"\\e94a"');
$icon-reset-font-size: unquote('"\\e942"');
$icon-facebook: unquote('"\\e93b"');
$icon-snapchat: unquote('"\\e93c"');
$icon-youtube: unquote('"\\e93d"');
$icon-logout-2: unquote('"\\e93a"');
$icon-logout: unquote('"\\e939"');
$icon-info: unquote('"\\e938"');
$icon-message: unquote('"\\e936"');
$icon-copy-2: unquote('"\\e937"');
$icon-eye-closed: unquote('"\\e931"');
$icon-link: unquote('"\\e932"');
$icon-plus-circle: unquote('"\\e933"');
$icon-question-circle: unquote('"\\e934"');
$icon-sort: unquote('"\\e935"');
$icon-arrow-circle-bottom: unquote('"\\e92d"');
$icon-arrow-circle-left: unquote('"\\e92e"');
$icon-arrow-circle-right: unquote('"\\e92f"');
$icon-arrow-circle-top: unquote('"\\e930"');
$icon-bars: unquote('"\\e904"');
$icon-check: unquote('"\\e906"');
$icon-close-circle: unquote('"\\e90b"');
$icon-cloud: unquote('"\\e90c"');
$icon-copy: unquote('"\\e90d"');
$icon-envelope: unquote('"\\e90e"');
$icon-eye: unquote('"\\e90f"');
$icon-hand: unquote('"\\e910"');
$icon-idea: unquote('"\\e911"');
$icon-initiatives: unquote('"\\e912"');
$icon-instagram: unquote('"\\e913"');
$icon-linkedin: unquote('"\\e914"');
$icon-list-checked: unquote('"\\e915"');
$icon-lock: unquote('"\\e917"');
$icon-lock-circle: unquote('"\\e918"');
$icon-login: unquote('"\\e919"');
$icon-microphone: unquote('"\\e91a"');
$icon-network: unquote('"\\e91b"');
$icon-phone: unquote('"\\e91c"');
$icon-productivity: unquote('"\\e91d"');
$icon-quote-bottom: unquote('"\\e91e"');
$icon-quote-top: unquote('"\\e91f"');
$icon-remove: unquote('"\\e920"');
$icon-search: unquote('"\\e921"');
$icon-settings: unquote('"\\e922"');
$icon-time: unquote('"\\e923"');
$icon-track: unquote('"\\e924"');
$icon-translate: unquote('"\\e925"');
$icon-users: unquote('"\\e928"');
$icon-wrench: unquote('"\\e929"');
$icon-x-twitter: unquote('"\\e92a"');
$icon-zoom-in: unquote('"\\e92b"');
$icon-zoom-out: unquote('"\\e92c"');
$icon-minus: unquote('"\\e903"');
$icon-calendar: unquote('"\\e907"');
$icon-arrow-down: unquote('"\\e908"');
$icon-chevron-arrow-left: unquote('"\\e93e"');
$icon-location: unquote('"\\e93f"');
$icon-chevron-arrow-right: unquote('"\\e940"');
$icon-chevron-arrow-up: unquote('"\\e941"');
$icon-arrow-up: unquote('"\\e95a"');
$icon-arrow-left: unquote('"\\e95b"');
$icon-sun: unquote('"\\e95c"');
$icon-moon: unquote('"\\e95d"');
$icon-user: unquote('"\\e95e"');
$icon-location-1: unquote('"\\e95f"');
$icon-chevron-arrow-down: unquote('"\\e960"');
$icon-arrow-right: unquote('"\\e961"');
$icon-link1: unquote('"\\e962"');
$icon-facebook1: unquote('"\\e963"');
$icon-email: unquote('"\\e900"');
$icon-instagram1: unquote('"\\e901"');
$icon-language: unquote('"\\e902"');
$icon-phone-2: unquote('"\\e909"');
$icon-tiktok: unquote('"\\e90a"');
$icon-twitter-x: unquote('"\\e964"');
$icon-website: unquote('"\\e966"');
$icon-whatsapp: unquote('"\\e965"');

