// override bootstrap Colors
$primary: #89ced7;
// $danger: #EB1F2D;
// $warning: #F1C735;
// $success: #50C879;
// $secondary: #111827;
// $info: #1849A9;

// this shared vars we will use this 
:root {
    --color-primary: #89ced7;
    --color-primary-faded: #89ced728;
    --color-primary-dark: #4FC3CC;
    --color-success: #50C879;
    --color-success-faded: #50c87a18;

    --color-danger: #EB1F2D;
    --color-danger-faded: #eb1f2d1e;

    --color-warning: #F1C735;
    --color-warning-faded: #f1c83520;

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #4B5561;
    --light-gray: #BCC0C6;



    --text-color: #1F252D;
    --text-color-2: #4B5561;

    --card-bg-color: #dde8ef52;

    --color-white-white: #FFFFFF;
    --color-black-black: #000000;

    --border-radius-0: 0px;
    --border-radius-sm: 10px;
    --border-radius: 15px;
    --border-radius-500: 500px;


    --base-border: 1px solid #D2D6DB;

    --font-wight-regular: 400;
    --font-wight-medium: 500;
    --font-wight-bold: 700;


}

:root {
    --swiper-theme-color: #89ced7;
}

// === Custom Breakpoints as Variables ===
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1250px;
$breakpoint-2xl: 1600px; // for zoom 125%

// === Override Bootstrap Breakpoints ===
$grid-breakpoints: (
    xs: $breakpoint-xs,
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl
);

.card-2.flip-card {

    .card-2-content {
        perspective: 1000px;
        position: relative;
    }

    .flip-inner {
        position: relative;
        width: 100%;
        transition: transform .7s ease;
        transform-style: preserve-3d;
    }

    &:hover .flip-inner {
        transform: rotateY(180deg);
    }

    .flip-face {
        width: 100%;
        backface-visibility: hidden;
    }

    .flip-front {
        position: relative;
    }

    .flip-back {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg);
    }

    /* مهم عشان ما يكسرش الـ grid */
    .card-2-content {
        display: block;
        min-height: 100%;
    }

    .flip-face>* {
        position: relative;
        z-index: 1;
    }




}

.card-3.flip-card {
    perspective: 1200px;

    .flip-inner {
        position: relative;
        width: 100%;
        transform-style: preserve-3d;
        transition: transform .7s ease;
    }

    &:hover .flip-inner {
        transform: rotateY(180deg);
    }

    .flip-face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
    }

    .flip-front {
        position: relative;
    }

    .flip-back {
        transform: rotateY(180deg);
    }

    .btn {
        width: auto;
    }

    .logo img {
        transition: .3s ease;
    }

    &:hover .logo img {
        transform: scale(.9);
    }

}

.card-3 .card-3-content button.btn,
.card-3 .card-3-content .btn {
    width: auto !important;
    max-width: fit-content !important;
    flex: 0 0 auto !important;
    display: inline-flex !important;
    align-self: flex-start !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";