.menu-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .menu-item {
        position: relative;

        &.active {
            .menu-link {
                color: var(--color-primary);

                &:hover {
                    color: var(--color-white-white);

                    &:after {
                        width: 100%;
                        transition: 0.3s ease-in-out;
                        background-color: var(--color-white-white);
                    }
                }

                &:after {
                    content: '';
                    width: 14px;
                    height: 2px;
                    background-color: var(--color-primary);
                    position: absolute;
                    top: calc(100% + 0px);
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .menu-link {
            font-size: 18px;
            text-decoration: none;
            position: relative;
            padding: 10px 0;

            &:hover {
                text-decoration: none;
            }
        }

        &.has-sub-menu {

            &:after {
                content: "\e960";
                font-family: "icomoon" !important;
                color: #bfbfbf;
                position: absolute;
                top: calc(100% + 10px);
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 12px;

            }

            .sub-menu {
                position: absolute;
                top: calc(100% + -20px);
                left: 50%;
                transform: translateX(-50%);
                min-width: 200px;
                background: #fff;
                border-radius: 12px;
                padding: 20px 0;
                margin: 0;
                list-style: none;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: 0.3s ease;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
                z-index: 100;

                .menu-item {
                    padding: 0;
                }

                .menu-link {
                    display: block;
                    padding: 12px 24px;
                    color: #222;
                    font-size: 16px;
                    text-align: center;
                    transition: 0.3s ease;

                    &:hover {
                        color: var(--color-primary);
                        background-color: rgba(0, 0, 0, 0.03);
                    }

                    &::after {
                        display: none;
                    }
                }


            }

            &:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    top: calc(100% + 15px);
                }
            }
        }
    }
}