.me-1 {
  margin-inline-end: .25rem !important;
}

.me-2 {
  margin-inline-end: .5rem !important;
}

.me-3 {
  margin-inline-end: 1rem !important;
}

.me-4 {
  margin-inline-end: 1.5rem !important;
}

.me-5 {
  margin-inline-end: 3rem !important;
}

.me-auto {
  margin-inline-end: auto !important;

}

.ms-1 {
  margin-inline-start: .25rem !important;
}

.ms-2 {
  margin-inline-start: .5rem !important;
}

.ms-3 {
  margin-inline-start: 1rem !important;
}

.ms-4 {
  margin-inline-start: 1.5rem !important;
}

.ms-5 {
  margin-inline-start: 3rem !important;
}

.ms-auto {
  margin-inline-start: auto !important;

}

.pe-1 {
  padding-inline-end: .25rem !important;
}

.pe-2 {
  padding-inline-end: .5rem !important;
}

.pe-3 {
  padding-inline-end: 1rem !important;
}

.pe-4 {
  padding-inline-end: 1.5rem !important;
}

.pe-5 {
  padding-inline-end: 3rem !important;
}

.ps-1 {
  padding-inline-start: .25rem !important;
}

.ps-2 {
  padding-inline-start: .5rem !important;
}

.ps-3 {
  padding-inline-start: 1rem !important;
}

.ps-4 {
  padding-inline-start: 1.5rem !important;
}

.ps-5 {
  padding-inline-start: 3rem !important;
}

.gap-1 {
  gap: .25rem !important;
}

.gap-2 {
  gap: .5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.row-gap-1 {
  row-gap: .25rem !important;
}

.row-gap-2 {
  row-gap: .5rem !important;
}

.row-gap-3 {
  row-gap: 1rem !important;
}

.row-gap-4 {
  row-gap: 30px !important;
}

.row-gap-5 {
  row-gap: 3rem !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.color-primary {
  color: var(--color-primary);
}

.text-color {
  color: var(--text-color);
}

.text-color-2 {
  color: var(--text-color-2);
}

.color-gray {
  color: var(--color-gray);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-black {
  background-color: black;
}

.color-white {
  color: var(--color-white);
}

.color-gray-light,
.color-light-gray {
  color: var(--light-gray);
}

.color-white-white {
  color: var(--color-white-white);
}

.color-black-black {
  color: var(--color-black-black);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-beige {
  background-color: #EBE7D4 !important;
}


.cursor-pointer {
  cursor: pointer;
}



.font-wight-regular {
  font-weight: var(--font-wight-regular);
}

.font-wight-medium {
  font-weight: var(--font-wight-medium);
}

.font-wight-bold {
  font-weight: var(--font-wight-bold);
}




.cover,
.object-cover,
.object-fit-cover {
  object-fit: cover;
}


.text-decoration-underline {
  text-decoration: underline;
}




/* Width classes */
@for $i from 1 through 100 {
  .w-#{$i * 5}px {
    width: #{$i * 5}px;
    min-width: #{$i * 5}px;
  }
}

/* Height classes */
@for $i from 1 through 100 {
  .h-#{$i * 5}px {
    height: #{$i * 5}px;
    min-height: #{$i * 5}px;
  }
}