@import "base"; // for base styles
@import "shared-helpers"; // for utilities .text-center .w-100px etc.
@import "shared-components"; // for reusable components .product-card .offer-card .banner etc.
@import "shared"; // for anything shared else
@import "layout"; // for layout header , footer , sidebar etc.
@import "pages"; // for custom style for specific page .home .about .contact etc.

/* here you can write draft code if there is no time to handel it BUT WE will handel it in future */

.custom-tabs-wrapper {

    .nav-link {
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: transparent;
        cursor: pointer;

        &.nav-link-sm {
            height: 36px;
        }
    }

    &.style1 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: 1px solid #E5E7EB;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    >.nav-link {
                        border-width: 1px 0;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                        border-radius: 0 !important;
                        color: #9CA3AF;
                        padding: 0.5rem 0;
                        margin-inline-end: 20px;
                        position: relative;
                        font-weight: 400;

                        &:after {
                            background-color: #3B82F6;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            border-radius: 500px;
                        }

                        &.active {
                            color: #111827;
                            border-bottom-color: #E5E7EB;
                            background: transparent;

                            &:after {
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }

    &.style2 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: none;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    >.nav-link {
                        border-width: 1px 0;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                        border-radius: 0 !important;
                        color: #9CA3AF;
                        padding: 0.5rem 0;
                        margin-inline-end: 20px;
                        position: relative;
                        font-weight: 400;
                        height: 35px;

                        &:after {
                            background-color: #3B82F6;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            border-radius: 500px;
                        }

                        &.active {
                            color: #111827;
                            border-bottom-color: #E5E7EB;
                            background: transparent;

                            &:after {
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }

    &.style3 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: none;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    >.nav-link {
                        position: relative;
                        font-weight: 400;

                        border: 1px solid #E5E7EB;
                        border-radius: 500px !important;
                        padding: 8px 16px;
                        margin-inline-end: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        color: #9CA3AF;

                        &.active {
                            background-color: #3B82F6;
                            border-color: #3B82F6;
                            color: #FFFFFF;
                        }

                        .tab-button-icon {
                            margin-inline-end: 8px;
                        }
                    }
                }
            }
        }
    }

    &.style4 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: none;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    height: 40px;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    .nav-link {
                        position: relative;
                        font-weight: 300;
                        border: 1px solid transparent;
                        border-radius: 500px !important;
                        padding: 8px 16px;
                        margin-inline-end: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #6B7280;
                        background-color: #F3F4F6;

                        &.nav-link-gray {
                            background-color: #EBEDF0;
                        }

                        &.active {
                            background-color: #EFF6FF;
                            border-color: #BFDBFE;
                            color: #3B82F6;
                        }

                        .tab-button-icon {
                            margin-inline-end: 8px;
                        }
                    }
                }
            }
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-primary-faded {
    color: var(--color-primary);
    background-color: var(--color-primary-faded);
    border-color: var(--color-primary);

    &:hover,
    &:active {
        color: #fff;
        background-color: var(--color-primary);
        border-color: var(--color-primary);

    }


}

.btn-success-faded {
    color: var(--color-success);
    background-color: var(--color-success-faded);
    border-color: var(--color-success);

    &:hover,
    &:active {
        color: #fff;
        background-color: var(--color-success);
        border-color: var(--color-success);

    }



}

.btn-danger-faded {
    color: var(--color-danger);
    background-color: var(--color-danger-faded);
    border-color: var(--color-danger-faded);

    &:hover,
    &:active {
        color: #fff;
        background-color: var(--color-danger) !important;
        border-color: var(--color-danger) !important;

    }

}

.btn {
    border-radius: 500px;
    line-height: 46px;
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: 20px;
    padding-inline-end: 20px;


    &.min-w-200 {
        min-width: 200px !important;
    }

    &.min-w-150 {
        min-width: 150px !important;
    }

    &.min-w-100 {
        min-width: 100px !important;
    }

    &:focus,
    &.focus {
        text-decoration: none;
    }

}




.fw-bold {
    font-weight: bold;
}


.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;



    &.badge-sm {
        padding: 3px 8px;
        font-size: 12px;
    }

    &.badge-lg {
        padding: 9px 18px;
    }

}


.badge-primary-faded {
    border: 1px solid;
    color: var(--color-primary);
    background-color: var(--color-primary-faded);
    border-color: var(--color-primary);
}


.badge-success-faded {
    border: 1px solid;
    color: var(--color-success);
    background-color: var(--color-success-faded);
    border-color: var(--color-success);
}


.badge-danger-faded {
    border: 1px solid;
    color: var(--color-danger);
    background-color: var(--color-danger-faded);
    border-color: var(--color-danger);
}


.badge-warning-faded {
    border: 1px solid;
    color: var(--color-warning);
    background-color: var(--color-warning-faded);
    border-color: var(--color-warning);
}






.badge-outline-primary {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-primary);
}

.badge-outline-success {
    color: var(--color-success);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-success);
}

.badge-outline-danger {
    color: var(--color-danger);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-danger);
}

.badge-outline-warning {
    color: var(--color-warning);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-warning);
}

body {
    color: var(--text-color);
    font-family: 'Tajawal', sans-serif;


}


.header-design {

    .start {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
            width: 100px;
        }
    }

    .end {
        display: flex;
        align-items: center;

        ul {
            align-items: center;
        }
    }

    a {
        color: white;
        transition: 0.3s;

        &:hover {
            color: var(--color-primary);
        }
    }
}

.hero-section {
    position: relative;
    height: 100vh;
    z-index: 1;

    .hero-img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-content {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    .countdown {
        display: flex;
        gap: 20px;
        justify-content: center;
        text-align: center;
        color: white;

        .box h2 {
            font-size: 40px;
            margin: 0;
        }

        .box span {
            display: block;
            margin-top: 5px;
            font-size: 14px;
            opacity: 0.8;
        }
    }

    button {
        svg {
            width: 15px;
        }
    }

    .btn-main.bg-beige {
        &:hover {
            padding-right: 35px;

            span {
                transform: translateX(15px);
            }

        }
    }

    .hero-bage {
        width: fit-content;
        padding: 8px 20px;
        margin: 30px auto 0;
        background-color: #20211f;
        border-radius: 50px;
        border: 1px solid #EBE7D4;

        .start {
            svg {
                width: 20px;
            }
        }

        .end {
            svg {
                width: 20px;
            }
        }
    }
}

.project-stats {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    background-color: #fff;
    z-index: 2;
    position: relative;

    .project-stats-card {
        background-color: rgb(177 225 232 / 14%);
        border-radius: 10px;
        padding: 10px 12px;
        width: fit-content;

        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }

        .img-wrapper {
            border-radius: 10px;
        }
    }

}

.about-us {
    background-image: url(../../imgs/about-shape.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;

    .about-badge {
        border-radius: 100px;
        border: 1px solid #4B5561;
        background-color: #E9EBEC;
    }

    .about-us-content {
        .about-us-headline {
            font-weight: bold;

            span {
                color: var(--color-primary);
            }
        }
    }

    .badges-wrapper {
        @media (max-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

    }

    .about-us-badge {
        background-color: #F9FAFB;
        border: 1px solid #E0E9ED;
        width: 50%;
        border-radius: 10px;
        padding: 6px 12px;
        display: flex;
        align-items: center;
        gap: 8px;

        @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
            margin-bottom: 8px;
        }
    }

    .img-side {
        position: relative;

        .about-us-img {
            border-radius: 15px;
        }

        .top {
            position: absolute;
            right: -30px;
            top: -10px;
            background-color: white;
            width: 135px;
            height: 85px;
            border-radius: 15px;
            text-align: center;
            border: 1px solid #E5E7EB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            @media (max-width: 768px) {
                right: 35px;
                top: -20px;
            }


            p {
                margin: 0;
                font-weight: bold;
                color: var(--color-primary);
                font-size: 20px;
            }

        }

        .bottom {
            position: absolute;
            left: 30px;
            bottom: -42px;
            background-color: white;
            width: 135px;
            height: 85px;
            border-radius: 15px;
            text-align: center;
            border: 1px solid #E5E7EB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            @media (max-width: 768px) {

                bottom: -60px;
            }

            p {
                margin: 0;
                font-weight: bold;
                color: var(--color-primary);
                font-size: 20px;
            }
        }
    }

}

.btn-main {
    background-color: transparent;
    border: 1px solid var(--color-gray);
    transition: all 0.3s ease-in-out;

    span {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        background-color: #E9EBEC;

        span {
            transform: translateX(-5px);
        }
    }

    svg {
        width: 15px;
    }
}

.card-1 {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    background-image: url(../../imgs/rectangles.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 10px;

    img {
        width: 130px;
    }

    @media (max-width: 768px) {
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column;
        text-align: center;
    }
}

.card-2 {
    background-color: var(--card-bg-color);
    border-radius: 15px;
    align-items: stretch;
    overflow: hidden;

    @media (max-width: 768px) {
        text-align: center;

    }

    .img-wrapper {
        width: 40%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .card-2-content {
        width: 60%;
        background-image: url(../../imgs/shape-2.svg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 100% 10px;

        .logo {
            img {
                width: 150px;
                margin-bottom: 10px;
            }
        }
    }
}

.card-3 {
    background-color: var(--card-bg-color);
    border-radius: 15px;

    .card-3-content {
        background-image: url(../../imgs/shape-3.svg);
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
}


.agenda-section {
    .taps-wrapper {
        background-color: #F9FBFC;
        padding: 20px;

        ul {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li {
                width: 100%;
            }
        }

        li {
            width: 32%;
            text-align: center;
            margin: 5px;

            a {
                padding: 18px;

                &:hover {
                    border-radius: 10px;
                }

                .date-of-day {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            color: #1F252D;
            background-color: white;
            border: 1px solid #CBDCDE;
            border-radius: 10px;

        }

        .nav-tabs {
            border: none;
        }
    }

    .card {
        border-radius: 15px;

        .card-header {
            margin-bottom: 0px;

        }

        p {
            margin: 0;
        }

        .card-header {
            background-color: white;
        }

    }

    .card-body {
        background-color: #FAFDFF;
    }
}

.our-sponsors {
    background-color: #FAFBFD;
}

.sponsors-card {
    background-color: white;
    border-radius: 15px;
    position: relative;
    border: 1px solid #E1E5EC;

    .sponsors-lable {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #E1E6EC;
        padding: 10px;
        border-radius: 10px 10px 23px 0;

    }

    .img-wrapper {
        @media (max-width: 768px) {
            flex-direction: column;

        }

        img {
            width: 150px;
            margin-bottom: 10px;
        }
    }
}

.testimonials-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    border-top: 3px solid var(--color-primary);

    .img-wrapper {
        img {
            width: 70px;
        }
    }

    .end {
        align-self: flex-start;
    }
}

html[dir=rtl] {

    body {
        text-align: right
    }


    .btn-main {
        &:hover {
            span {
                transform: translateX(5px);
            }

        }
    }


    .card-2 {
        .card-2-content {
            background-position: 10px 10px;
        }
    }

}


// @font-face {
//   font-family: 'Watad';
//   src: url('/fonts/Watad.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }

// body {
//   font-family: 'Watad', sans-serif;
// }