@use "../../node_modules/swiper/swiper-bundle.css";
@import "base"; // for base styles
@import "shared-helpers"; // for utilities .text-center .w-100px etc.
@import "shared-components"; // for reusable components .product-card .offer-card .banner etc.
@import "shared"; // for anything shared else
@import "layout"; // for layout header , footer , sidebar etc.
@import "pages"; // for custom style for specific page .home .about .contact etc.

/* here you can write draft code if there is no time to handel it BUT WE will handel it in future */

.custom-tabs-wrapper {

    .nav-link {
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: transparent;
        cursor: pointer;

        &.nav-link-sm {
            height: 36px;
        }
    }

    &.style1 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: 1px solid #E5E7EB;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    >.nav-link {
                        border-width: 1px 0;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                        border-radius: var(--border-radius-0) !important;
                        color: #9CA3AF;
                        padding: 0.5rem 0;
                        margin-inline-end: 20px;
                        position: relative;
                        font-weight: 400;

                        &:after {
                            background-color: #3B82F6;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            border-radius: var(--border-radius-500);
                        }

                        &.active {
                            color: #111827;
                            border-bottom-color: #E5E7EB;
                            background: transparent;

                            &:after {
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }

    &.style2 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: none;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    >.nav-link {
                        border-width: 1px 0;
                        border-top-color: transparent;
                        border-bottom-color: transparent;
                        border-radius: var(--border-radius-0) !important;
                        color: #9CA3AF;
                        padding: 0.5rem 0;
                        margin-inline-end: 20px;
                        position: relative;
                        font-weight: 400;
                        height: 35px;

                        &:after {
                            background-color: #3B82F6;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            border-radius: var(--border-radius-500);
                        }

                        &.active {
                            color: #111827;
                            border-bottom-color: #E5E7EB;
                            background: transparent;

                            &:after {
                                content: "";
                            }
                        }
                    }
                }
            }
        }
    }

    &.style3 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: none;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    >.nav-link {
                        position: relative;
                        font-weight: 400;

                        border: 1px solid #E5E7EB;
                        border-radius: var(--border-radius-500) !important;
                        padding: 8px 16px;
                        margin-inline-end: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        color: #9CA3AF;

                        &.active {
                            background-color: #3B82F6;
                            border-color: #3B82F6;
                            color: var(--color-white);
                        }

                        .tab-button-icon {
                            margin-inline-end: 8px;
                        }
                    }
                }
            }
        }
    }

    &.style4 {
        >.nav-tabs-wrapper {
            >.nav-tabs {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0;
                border-bottom: none;

                >.nav-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    height: 40px;

                    &:last-child {
                        .nav-link {
                            margin-inline-end: 0;
                        }
                    }

                    .nav-link {
                        position: relative;
                        font-weight: 300;
                        border: 1px solid transparent;
                        border-radius: var(--border-radius-500) !important;
                        padding: 8px 16px;
                        margin-inline-end: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #6B7280;
                        background-color: #F3F4F6;

                        &.nav-link-gray {
                            background-color: #EBEDF0;
                        }

                        &.active {
                            background-color: #EFF6FF;
                            border-color: #BFDBFE;
                            color: #3B82F6;
                        }

                        .tab-button-icon {
                            margin-inline-end: 8px;
                        }
                    }
                }
            }
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.swiper-slider-wrapper {
    position: relative;

    &.arrows-sides {

        .swiper-container {
            width: calc(100% - 80px);

            @media all and (max-width: $breakpoint-sm) {
                width: calc(100% - 40px);
            }

        }
    }

    &.pagination-bottom {

        .swiper-button-prev,
        .swiper-button-next {
            top: calc(50% - 25px);
            width: 30px;
            height: 30px;
            margin-top: unset !important;
        }
    }

    .swiper-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin: auto;

        .swiper-wrapper {
            padding: 10px 0;
        }
    }

    .pagination-wrapper {
        width: 140px;
        margin: auto;
    }

    .swiper-pagination {
        position: relative;
        top: 0;
        bottom: 0;
        height: 4px;
        border-radius: var(--border-radius-500);
        margin-top: 19px;
        z-index: 1;
    }

    .swiper-button-prev,
    .swiper-button-next {
        z-index: 1;

        &.swiper-button-disabled {
            opacity: 0.25;
        }

        i {
            font-size: 14px;
            color: #4A5565;
            background: #F3F4F6;
            padding: 10px;
            border-radius: var(--border-radius-500);
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }


        [dir="rtl"] & {
            transform: rotate(180deg);
        }

    }

    .swiper-button-prev {
        left: 0;

        [dir="rtl"] & {
            left: auto;
            right: 0;
        }

    }

    .swiper-button-next {
        right: 0;

        [dir="rtl"] & {
            right: auto;
            left: 0;
        }

    }

    .swiper-pagination-clickable .swiper-pagination-bullet {
        transform: translate(0, -17px);
    }

}


.swiper-button-prev,
.swiper-button-next {
    position: relative;
    top: unset !important;
    left: unset !important;
    bottom: unset !important;
    right: unset !important;

    &:after {
        display: none;
    }

    &:before {
        display: none;
    }
}

.swiper-pagination {
    transition: 0.3s;

    .swiper-pagination-bullet {
        background-color: #000000;
        transition: 0.3s;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--color-primary-dark);
        width: 32px;
        height: 8px;
        border-radius: 30px;
        transition: 0.3s;

    }
}



hr {
    border-color: #BCC0C6;
}

.btn-primary-faded {
    color: var(--color-primary);
    background-color: var(--color-primary-faded);
    border-color: var(--color-primary);

    &:hover,
    &:active {
        color: #fff;
        background-color: var(--color-primary);
        border-color: var(--color-primary);

    }


}

.btn-success-faded {
    color: var(--color-success);
    background-color: var(--color-success-faded);
    border-color: var(--color-success);

    &:hover,
    &:active {
        color: #fff;
        background-color: var(--color-success);
        border-color: var(--color-success);

    }



}

.btn-danger-faded {
    color: var(--color-danger);
    background-color: var(--color-danger-faded);
    border-color: var(--color-danger-faded);

    &:hover,
    &:active {
        color: #fff;
        background-color: var(--color-danger) !important;
        border-color: var(--color-danger) !important;

    }

}

.btn {
    border-radius: var(--border-radius-500);
    line-height: 46px;
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: 20px;
    padding-inline-end: 20px;


    &.min-w-200 {
        min-width: 200px !important;
    }

    &.min-w-150 {
        min-width: 150px !important;
    }

    &.min-w-100 {
        min-width: 100px !important;
    }

    &:focus,
    &.focus {
        text-decoration: none;
    }

}

.fw-bold {
    font-weight: bold;
}

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: normal;



    &.badge-sm {
        padding: 3px 8px;
        font-size: 12px;
    }

    &.badge-lg {
        padding: 9px 18px;
    }

}

.badge-primary-faded {
    border: 1px solid;
    color: var(--color-primary);
    background-color: var(--color-primary-faded);
    border-color: var(--color-primary);
}

.badge-success-faded {
    border: 1px solid;
    color: var(--color-success);
    background-color: var(--color-success-faded);
    border-color: var(--color-success);
}

.badge-danger-faded {
    border: 1px solid;
    color: var(--color-danger);
    background-color: var(--color-danger-faded);
    border-color: var(--color-danger);
}

.badge-warning-faded {
    border: 1px solid;
    color: var(--color-warning);
    background-color: var(--color-warning-faded);
    border-color: var(--color-warning);
}

.badge-outline-primary {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-primary);
}

.badge-outline-success {
    color: var(--color-success);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-success);
}

.badge-outline-danger {
    color: var(--color-danger);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-danger);
}

.badge-outline-warning {
    color: var(--color-warning);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-warning);
}

body {
    font-family: 'Tajawal', sans-serif;
    color: var(--text-color);
    background-color: var(--color-white);

    &.dark {
        --color-white: #1F252D;
        --text-color: #FFF;

        .btn.bg-beige {
            color: #0E1E40;
            border: none;
        }

        .card-1,
        .card-2,
        .card-3 {
            background: linear-gradient(122.6deg, #262D36 34.19%, #303740 92.32%) !important;

            p {
                color: var(--light-gray);
            }
        }
    }
}

.badge-1 {
    border-radius: var(--border-radius-500);
    border: 1px solid #4B5561;
    background-color: #E9EBEC;

    body.dark & {
        background-color: transparent;
        border-color: #4B5561;
        color: var(--light-gray);

    }
}




.hero-section {
    position: relative;
    height: 100vh;
    z-index: 1;
    margin-top: -96px;

    .video-wrapper {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-content {
        position: relative;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 42px;
        }

        .btn.bg-beige {
            &:hover {
                background-color: #E9EBEC;
                padding-inline-start: 30px;
                background-color: white !important;

                span {
                    transform: translateX(-10px);

                    [dir="rtl"] & {
                        transform: translateX(10px);

                    }
                }
            }
        }
    }

    .countdown {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 50px;
        color: white;

        .box {
            margin: 20px 0;

            h2 {
                font-size: 86px;
                margin: 0;
            }

            span {
                display: block;
                margin-top: 5px;
                font-size: 18px;
            }
        }



    }

    button {
        svg {
            width: 15px;
        }
    }



    .hero-bage {
        width: fit-content;
        padding: 8px 20px;
        margin: 26px auto 0;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(8px);
        border-radius: var(--border-radius-500);
        border: 1px solid #EBE7D4;
        color: #EBE7D4;

        .start {
            svg {
                width: 20px;
            }
        }

        .end {
            svg {
                width: 20px;
            }
        }
    }
}

.project-stats {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50px 50px 0 0;
    margin-top: -130px;
    background-color: var(--color-white);
    z-index: 3;
    position: relative;


    .project-stats-card {
        background: linear-gradient(90deg, rgba(79, 196, 204, 0.1) 0%, rgba(79, 195, 204, 0) 80%);
        border-radius: var(--border-radius);
        padding: 15px;
        width: 100%;
        border: 1px solid var(--color-white);
        border-right: none;
        position: relative;
        overflow: hidden;
        transition: padding 0.7s;

        &:hover {
            border: 1px solid var(--color-primary);
            padding-inline-start: 25px;

            .project-stats-card-content {
                padding-inline-start: 5px;
            }
        }

        * {
            z-index: 2;
        }

        .project-stats-card-content {
            transition: 0.3s ease-in-out;
        }

        .img-wrapper {
            border-radius: var(--border-radius);
            transition: 0.3s ease-in-out;
        }



        [dir="rtl"] & {
            background: linear-gradient(270deg, rgba(79, 196, 204, 0.1) 0%, rgba(79, 195, 204, 0) 80%);
        }

        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }
    }

}

.about-us {
    background-image: url(../../imgs/about-shape.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
    background-color: var(--color-white);
    z-index: 2;
    position: relative;


    .about-us-content {
        .about-us-headline {
            font-weight: bold;
            font-size: 56px;

            span {
                color: var(--color-primary);
            }

        }

        p {
            max-width: 90%;
            text-align: start;
            font-size: 18px;
        }
    }

    .about-us-custom-accordion-wrapper {
        position: relative;

        @media all and (min-width : $breakpoint-lg) {
            .col-lg-6 {
                &:nth-child(even) {
                    .about-us-badge-hidden-content {
                        margin-inline-start: -100%;
                    }
                }
            }
        }

        .about-us-badge-wrapper {

            @media all and (min-width : $breakpoint-lg) {
                &:hover {

                    .about-us-badge {
                        color: var(--color-primary);
                        margin-bottom: 75px !important;
                        border: 1px solid var(--color-primary);
                    }

                    .about-us-badge-hidden-content {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .about-us-badge {
                transition: 0.3s ease-in-out;
                font-weight: 500;
                position: relative;
                z-index: 5;
                border: 1px solid #E0E9ED;

                @media all and (min-width : $breakpoint-lg) {
                    max-width: 90%;
                }
            }

            .about-us-badge-hidden-content {
                background-color: #E4EAF0;
                transition: 0.3s ease-in-out;
                border-radius: 10px;
                padding: 5px 15px;

                @media all and (min-width : $breakpoint-lg) {
                    width: calc(200% - 65px);
                    position: absolute;
                    margin-top: -70px;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

    }





    .img-side {
        position: relative;

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }

        .about-us-img {
            border-radius: var(--border-radius);
        }

        .top {
            position: absolute;
            left: 30px;
            top: -10px;
            background-color: white;
            width: 135px;
            height: 85px;
            border-radius: var(--border-radius);
            text-align: center;
            border: 1px solid #E5E7EB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            animation: floatY 2s ease-in-out infinite;

            @keyframes floatY {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-15px);
                }

                100% {
                    transform: translateY(0);
                }
            }

            span {
                font-size: 12px;
            }

            p {
                margin: 0;
                font-weight: bold;
                color: var(--color-primary);
                font-size: 32px;
                line-height: 1.2;
            }

            @media (max-width: 768px) {
                right: 35px;
                top: -20px;
            }
        }

        .bottom {
            position: absolute;
            right: 30px;
            bottom: -42px;
            background-color: white;
            width: 135px;
            height: 85px;
            border-radius: var(--border-radius);
            text-align: center;
            border: 1px solid #E5E7EB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            animation: floatY 2s ease-in-out infinite;



            span {
                font-size: 12px;
            }




            p {
                margin: 0;
                font-weight: bold;
                color: var(--color-primary);
                font-size: 32px;
                line-height: 1.2;
            }

            @media (max-width: 768px) {

                bottom: -60px;
            }
        }

        body.dark & {

            .top,
            .bottom {
                color: var(--light-gray);
                background-color: #1F252D;
                border-color: var(--color-gray);
                box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.12);

                p {
                    color: var(--color-primary-dark);
                }
            }
        }
    }

}

.btn-main {
    background-color: transparent;
    border: 1px solid var(--color-gray);
    transition: all 0.3s ease-in-out;

    body.dark & {
        border-color: white;
        color: white;

        &:hover {
            background-color: transparent;
        }
    }

    span {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
    }

    &:hover {
        background-color: #E9EBEC;
        padding-inline-start: 25px;

        span {
            transform: translateX(-5px);
        }
    }

    svg {
        width: 15px;
    }
}

.card-1 {
    position: relative;
    background: linear-gradient(137.21deg, #F2F5F7 45.35%, #DDE8EF 101.63%);
    border-radius: var(--border-radius);
    overflow: hidden;

    body.dark & {
        p {
            color: white;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../../imgs/rectangles.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) 10px;
        z-index: 0;
        pointer-events: none;
    }

    [dir="rtl"] &::before {
        transform: scaleX(-1);
    }

    >* {
        position: relative;
        z-index: 1;
    }

    @media (max-width: 768px) {
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: column;
        text-align: center;
    }

}

.card-2 {
    background: linear-gradient(137.21deg, #F2F5F7 45.35%, #DDE8EF 101.63%);
    border-radius: var(--border-radius);
    align-items: stretch;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;


    &:after {
        content: "";
        background: linear-gradient(210deg, rgba(137, 206, 215, 1) 0%, rgba(137, 206, 215, 0) 40%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;


    }

    &:hover {
        border: 1px solid var(--color-primary);
        transition: 0.3s ease-in-out;

        &:after {
            opacity: 0.7;
            visibility: visible;
        }
    }


    * {
        position: relative;
        z-index: 1;
    }

    @media (max-width: 768px) {
        text-align: center;
    }

    .img-wrapper {
        width: 40%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-2-content {
        position: relative;
        width: 60%;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: url(../../imgs/shape-2.svg);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: calc(100% - 20px) 20px;
        }

        * {
            position: relative;
            z-index: 1;
        }

        [dir="rtl"] &::before {
            transform: scaleX(-1);
        }

        .logo {
            img {
                width: 150px;
                margin-bottom: 10px;
            }
        }

        .btn-main {
            @media (max-width: 768px) {
                margin: 1px auto;
            }
        }
    }
}





.card-3 {
    background: linear-gradient(137.21deg, #F2F5F7 45.35%, #DDE8EF 101.63%);
    border-radius: var(--border-radius);

    .card-3-content {
        background-image: url(../../imgs/shape-3.svg);
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }
}

.card-4 {
    background-color: #F9FAFB;
    border: 1px solid #E0E9ED;
    border-radius: var(--border-radius);
    padding: 8px 12px;

    body.dark & {
        background-color: transparent;
        border-color: #4B5561;
        color: var(--light-gray);
    }

    img {
        max-width: 30px;
    }
}



.agenda-section {

    .taps-wrapper {
        background-color: #F9FBFC;
        padding: 14px 12px;
        border-radius: 16px;

        body.dark & {
            background-color: #1D2228;

        }

        ul {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    width: 100%;
                }
            }


        }

        li {
            width: 32%;
            text-align: center;
            margin: 5px;

            a {
                padding: 8px;
                transition: 0.3s ease-in-out;
                border-radius: var(--border-radius);

                &:not(.active):hover {
                    border-radius: var(--border-radius);
                    border-color: var(--color-primary-dark);
                    background: linear-gradient(270deg, rgba(79, 196, 204, 0.1) 0%, rgba(79, 195, 204, 0) 80%);

                }

                .date-of-day {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }

        .nav-tabs .nav-link.active,
        .nav-tabs .nav-item.show .nav-link {
            color: #1F252D;
            background-color: white;
            border: 1px solid #CBDCDE;
            border-radius: var(--border-radius);

            body.dark & {
                background-color: #1F252D;
                color: white;
                border-color: var(--color-primary-dark);
            }

        }

        .nav-tabs {
            border: none;
        }
    }


    .accordion-card {
        border-radius: var(--border-radius) !important;

        .card-body {
            .card-body-content {
                @media all and (min-width : $breakpoint-lg) {
                    padding-inline-start: 190px;
                }
            }
        }
    }


    .card {

        body.dark & {
            border-color: var(--color-primary-dark);

        }

        .card-header {
            margin-bottom: 0px;
            text-align: center;

            body.dark & {
                background-color: #1f252d;

            }

        }

        p {
            margin: 0;
        }

        .card-header {
            background-color: white;
            transition: 0.3s ease-in-out;

            &:hover {
                background: linear-gradient(270deg, rgba(79, 196, 204, 0.1) 0%, rgba(79, 195, 204, 0) 80%);
            }
        }

    }

    .card-body {
        background-color: #FAFDFF;

        body.dark & {
            background-color: #262D36;

            p {
                color: var(--light-gray);
            }
        }
    }
}

.our-sponsors {
    background-color: #FAFBFD;

    body.dark & {
        background-color: #1F242B;
    }
}

.sponsors-card {
    background-color: white;
    border-radius: var(--border-radius);
    position: relative;
    border: 1px solid #E1E5EC;
    transition: 0.3s ease-in-out;

    &:hover {
        background: linear-gradient(270deg, rgba(79, 196, 204, 0.1) 0%, rgba(79, 195, 204, 0) 80%);
        transition: 0.3s ease-in-out;

        .sponsors-label {
            transition: 0.3s ease-in-out;
            background-color: var(--color-primary);
            color: white;
            padding-inline-start: 30px;
            padding-inline-end: 30px;

            span {
                transition: 0.3s ease-in-out;
            }

        }
    }

    body.dark & {
        background-color: #262D36;
        border-color: #1D2228;
    }

    .sponsors-label {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #E1E6EC;
        padding: 10px;
        border-radius: var(--border-radius) 10px 23px 0;
        transition: 0.3s ease-in-out;

        body.dark & {
            background-color: #1D2228;
            color: white;
        }
    }

    .img-wrapper {
        @media (max-width: 768px) {
            flex-direction: column;

        }

        img {
            width: 150px;
            margin-bottom: 10px;
        }
    }
}

.testimonials-card {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
    border-radius: var(--border-radius);
    border-top: 3px solid var(--color-primary);

    body.dark & {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
    }

    .img-wrapper {
        img {
            width: 70px;
        }
    }

    .end {
        align-self: flex-start;
    }
}

html[dir=rtl] {

    body {
        text-align: right
    }

    .icon-arrow-right {
        transform: rotate(180deg);
    }

    .sponsors-label {
        right: 0;
        width: fit-content;
        border-radius: var(--border-radius) 10px 0px 23px;
    }

    .about-us {
        .img-side {
            .top {
                right: 30px;
                left: auto;
            }

            .bottom {
                left: 30px;
                right: auto;
            }
        }
    }


    .btn-main {
        &:hover {
            span {
                transform: translateX(5px);
            }

        }
    }


    .card-2 {
        .card-2-content {
            background-position: 10px 10px;
        }
    }

}

p {
    line-height: 1.8;
}

.accordion {
    .card {
        border-radius: var(--border-radius);

        .card-header {
            margin-bottom: 0px;

        }

        p {
            margin: 0;
        }

        .card-header {
            background-color: white;

            .icon-chevron-arrow-up {
                font-size: 10px;
                color: var(--color-primary);
            }

            &.collapsed {
                .icon-chevron-arrow-up {
                    color: var(--text-color);
                    transform: rotate(180deg);
                }
            }


        }

    }

    .card-body {
        background-color: #FAFDFF;
    }
}


a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
        color: inherit;
        text-decoration: underline;
    }

    &.no-hover {
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
}


button {
    color: var(--text-color);
}

.btn:focus,
.btn.focus {
    box-shadow: none !important;
}



.top-header {
    display: block;
    // position: absolute;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;


    @media all and (max-width : $breakpoint-xl) {
        display: none;
    }




    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    * {
        position: relative;
        z-index: 1;
    }

    .start {
        display: flex;
        align-items: center;
        gap: 15px;

    }

    .end {
        display: flex;
        align-items: center;

        ul {
            align-items: center;
        }
    }

    a {
        color: #bfbfbf;
        transition: 0.3s;
        position: relative;

        &:not(.my-account):not(.dark-mode) {

            &:hover {
                color: white;

                &::after {
                    width: 40%;
                    height: 2px;
                }
            }

            &::after {
                content: "";
                width: 0px;
                height: 2px;
                background-color: white;
                position: absolute;
                top: calc(100% + 0px);
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.3s ease-in-out;
            }
        }
    }


    a.my-account {
        i {
            transition: 0.3s ease-in-out;
        }

        &:hover {
            padding-inline-start: 25px;
            color: var(--color-primary-dark);
            background-color: transparent;
            border-color: var(--color-primary-dark);

            i {
                padding-inline-end: 5px;
            }
        }
    }

    a.dark-mode {
        color: white;

        &:hover {
            background-color: transparent;
        }
    }
}

.sticky-header {
    background-color: rgba(0, 0, 0, 0.8);
}

.mobile-top-bar {
    display: none;

    @media all and (max-width : $breakpoint-xl) {
        display: flex;
        padding: 15px;
        justify-content: space-between;
        align-items: center;
        padding: 15px;


        position: sticky;
        top: 0;
        background-color: #3e536f;
        z-index: 100;

    }



}

.mobile-menu-popup {
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .mobile-menu-popup-top-bar {
        background-color: #3e536f;
    }

    &.show {
        display: flex;
    }

    a.toggle-mobile-menu-button {
        cursor: pointer;
    }

    .top {
        width: 100%;

        .menu-wrapper {
            .links-list {
                .link-with-end-icon {
                    .text {
                        font-size: 18px;
                        font-weight: 500;
                    }

                }

            }
        }
    }

    .bottom {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 20px;
    }








    @media all and (max-width : $breakpoint-xl) {

        .links-list {
            >.nav-item {
                border-bottom: var(--base-border);
            }
        }

        .nav-item {
            margin: 0px;

            .nav-link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px;
            }

        }



        ul.dropdown-menu {
            display: block;
            float: none;
            border: none;
            text-align: start;
            box-shadow: none;
            position: relative;
            padding: 0;
            padding-inline-end: 15px;

            li {
                margin: 0;

            }

        }


        .dropdown-toggle::after {
            all: unset;
            display: block;
            content: "";
            display: inline-block;
            width: 12px;
            height: 8px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M1.87419 1.1294C1.97576 1.26388 2.27902 1.66534 2.45963 1.89676C2.82135 2.36027 3.31561 2.97618 3.84878 3.59026C4.38465 4.20744 4.94758 4.80852 5.44767 5.25039C5.69843 5.47195 5.91871 5.64031 6.10049 5.74989C6.27145 5.85296 6.37243 5.87439 6.37243 5.87439C6.37243 5.87439 6.47046 5.85295 6.64141 5.7499C6.82318 5.64032 7.04346 5.47196 7.29422 5.25039C7.79431 4.80852 8.35724 4.20744 8.89311 3.59025C9.42628 2.97616 9.92054 2.36025 10.2823 1.89673C10.4629 1.66531 10.7657 1.26442 10.8673 1.12994C11.072 0.852004 11.4636 0.792058 11.7416 0.996751C12.0195 1.20145 12.0789 1.59269 11.8742 1.87063L11.8726 1.87273C11.7661 2.01376 11.452 2.42963 11.2677 2.66577C10.8978 3.13975 10.3891 3.77384 9.83698 4.40976C9.28755 5.04257 8.68282 5.69149 8.12189 6.18712C7.84214 6.4343 7.55857 6.65656 7.28676 6.82042C7.03211 6.97393 6.7097 7.125 6.37094 7.125C6.03218 7.125 5.70978 6.97393 5.45513 6.82041C5.18333 6.65656 4.89975 6.4343 4.62 6.18712C4.05907 5.69149 3.45435 5.04258 2.90491 4.40977C2.35278 3.77386 1.84409 3.13978 1.47419 2.6658C1.2898 2.42953 0.975733 2.01371 0.869394 1.87292L0.867993 1.87107C0.663298 1.59313 0.722377 1.20149 1.00031 0.996793C1.27824 0.792105 1.66949 0.851493 1.87419 1.1294Z' fill='%23161616'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }


    }


    .menu-wrapper {
        max-height: calc(100vh - 170px);
        overflow: auto;
    }


}


// footer

.social-media-icons-wrapper {
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;

    .social-media-icon {
        border: var(--base-border);
        border-color: #ffffff85;
        border-radius: 8px;
        padding: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 1px;

        i {
            font-size: 18px;
        }


    }
}

.footer {
    background-color: #1B1D21;
    color: #FFF;




    &__logo {
        max-width: 100%;
    }

    &__description {
        font-size: 18px;
        line-height: 24px;

        span {
            color: #5ba72f;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 16px;
    }

    &__list {
        li {
            line-height: 22px;
        }
    }

    .social-media-icons-wrapper {
        position: relative;
        flex-direction: row;
        left: unset;
        right: unset;
        bottom: unset;
        top: unset;
        justify-content: flex-start;
        align-items: flex-start;

        .social-media-icon {
            width: 38px;
            height: 38px;
            border-radius: var(--border-radius-500);

            &:hover {
                background-color: rgb(255 255 255 / 10%);
                border-color: #ffffff;
                text-decoration: none;
            }

            i {
                font-size: 18px;
            }
        }
    }

    .footer__title {
        border-bottom: 1px solid #ffffff52;
        padding-bottom: 15px;
    }

    .logos-wrapper {
        height: 100%;
        justify-content: end;
        align-items: center;
        display: flex;

        @media all and (max-width : $breakpoint-xl) {
            justify-content: flex-start;
            margin-top: 10px;
        }
    }

    a {
        color: var(--light-gray);
    }

    .footer-link {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 8px;
        padding-inline-start: 5px;
        padding-inline-end: 5px;
        line-height: 32px;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
    }


}

footer.footer {

    .footer-hr {
        border-color: rgb(50 52 56);
    }


    .footer-card-title {
        border-bottom: 1px solid rgb(50 52 56);
        padding: 9px 0 15px 0;
        margin-bottom: 10px;
        height: 45px;
        font-weight: 500;
        color: #FFF;
    }


    .custom-accordion .accordion-item .accordion-item-header button.accordion-button {
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background: none;
        color: #FFF;
    }


    .custom-accordion {

        .accordion-item {
            border-bottom: none;
            padding: 0;


        }
    }


    @media all and (min-width : $breakpoint-lg) {

        .custom-accordion {

            .accordion-item {

                .accordion-button {
                    cursor: text;
                    margin-bottom: 10px;

                    .icon {
                        display: none;
                    }
                }

                .collapse:not(.show) {
                    display: block !important;
                }

            }
        }
    }



}

@font-face {
    font-family: 'Watad';
    src: url('../../fonts/watad.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1.font-watad {
    font-size: 56px;
}

.font-watad {
    font-family: 'Watad', sans-serif;
}

.btn-action {
    width: 40px;
    height: 40px;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.btn-action-sm {
        width: 38px;
        height: 38px;
    }

    &.btn-action-lg {
        width: 48px;
        height: 48px;
        font-size: 16px;
    }
}